<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GMDB</title>
    <link rel="stylesheet" href="./style.css">
  </head>


  <header>
    <nav class="menu">
      <a class="active" href="#gmdb">GMDB</a>
      <a href="#home">Home</a>
      <a href="#login">Login</a>
      <a href="home.html">Go back to search page</a>
      <input id="searchbar" onkeyup="search_movie()" type="text"
      name="search" placeholder="Search movie..">
    </nav>
  </header>


  <div class="moviePage">
    <h3>The Blind Side</h3>
    <p>Released in the 2000s</p>
    <p> Sandra Bullock's big break</p>

    <figure>
        <img src="https://m.media-amazon.com/images/M/MV5BMjEzOTE3ODM3OF5BMl5BanBnXkFtZTcwMzYyODI4Mg@@._V1_FMjpg_UX1000_.jpg" alt="The blind side movie poster">
        <figcaption>Sandra Bullock helps a highschooler play football</figcaption>
    </figure>
  </div>


  <section id="app">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div>>
          </div>
          </div>
      <div class="row">
        <div class="col-6">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
        </div>
      </div>
    </div>
  </section>
</body>



<script>
</script>
</html>